.fullcontent {
    width: 50%;
}
canvas {
    width: 50% !important;
    height: 100% !important;
    position: fixed !important;
    right: 0 !important;
}
body {
    display: flex;
    width: 100%;
}
